.row__posters{
    display: flex;
    overflow-y:hidden;
    overflow-x: scroll; /*scrool bar on bottom x axis*/
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none; /*have scrow bar hidden but keep functionality*/
}

.row{
    margin-left: 20px;   /*space around between content and border from bage on leftside*/
    color:#ffff;
}

.row__poster {
    object-fit: contain;
    width:100%;     
    max-height: 100px;
    margin-right: 10px;   /*sepration of poster images*/
    transition: transform 450ms;  /*provide a transition delay with hover over*/
}
.row__poster:hover {
    transform:scale(1.08)
}
.row__posterLarge {
    max-height: 250px;
}
.row__posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
}